<app-menu></app-menu>
<div class="container" *ngIf="oferta">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="titulo">titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo"
                    [(ngModel)]="oferta.titulo" required>
                </div>
                <div class="form-group">
                   <label for="tipoDeTrabajo">trabajo</label>
                   <input type="text" class="form-control" id="tipoDeTrabajo" name="tipoDeTrabajo"
                   [(ngModel)]="oferta.tipotrabajo" required>
                </div>
                <div class="form-group">
                    <label for="descripcionTarea">descripcion</label>
                    <input type="text" class="form-control" id="descripcionTarea" name="descripcionTarea"
                   [(ngModel)]="oferta.descripcionTarea" required>
                </div>
                <div class="form-group">
                    <label for="fecha">fecha(YYYY-MM-DD)</label>
                    <input type="text" class="form-control" id="fecha" name="fecha"
                    [(ngModel)]="oferta.fecha" required>
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
            </form>
            <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">{{errMsj}}</div>
        </div>
    </div>
</div>

