<app-menu></app-menu>
<div class="container">
  <div class="mt-1 mb-3">
    <button class="btn btn-outline-success btn-lg" routerLink="/nuevaOferta">
       Nueva Oferta
    </button>
 </div>
 <table class="table table-dark">
     <thead>
       <tr>
         <th scope="col">
           <H4>
               Id
           </H4>
         </th>
         <th scope="col">
           <H4>
               Oferta de Trabajo
           </H4>
         </th>
         <th scope="col">Ver</th>
         <th scope="col">Editar</th>
         <th scope="col">Borrar</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let oferta of ofertas;let i=index">
         <td>{{i+1}}</td>
         <td>{{oferta.titulo}}</td>
         <td><button class="btn btn-outline-primary" routerLink="/detalleOferta/{{oferta.id}}"><i class="far fa-eye"></i> Ver</button></td>
         <td><button class="btn btn-outline-warning" routerLink="/editarOferta/{{oferta.id}}"><i class="far fa-edit"></i> Editar</button></td>
         <td><button class="btn btn-outline-danger" (click)="borrar(oferta.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
       </tr>
     </tbody>
   </table>

</div>
