<app-menu></app-menu>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo"
                    [(ngModel)]="titulo" required>
                </div>
                <div class="form-group">
                    <label for="tipoTrabajo">Tipo de Trabajo</label>
                    <input type="text" class="form-control" id="tipoTrabajo" name="tipoTrabajo"
                    [(ngModel)]="tipoTrabajo" required>
                </div>

                <div class="form-group">
                  <label for="descripcionTarea">Descripcion de Tarea</label>
                  <input type="text" class="form-control" id="descripcionTarea" name="descripcionTarea"
                  [(ngModel)]="descripcionTarea" required>
              </div>
              <div class="form-group">
                <label for="fecha">Fecha(YYYY-MM-DD)</label>
                <input type="text" class="form-control" id="fecha" name="fecha"
                [(ngModel)]="fecha" required>
            </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
            </form>
            <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">{{errMsj}}</div>
        </div>
    </div>
</div>
