<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> inicio</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/listaOfertas"><i class="far fa-list-alt"></i> Lista</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link"  routerLink="/login"><i class="fas fa-sign-in-alt"></i> iniciar Sesion</a>
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <a class="nav-link"  ><i class="fas fa-door-open"></i> cerrar Sesion </a>
      </li>

    </ul>
  </div>
</nav>
