<app-menu></app-menu>
 <div class="container text-center">
  <div *ngIf="isLogged; else loggedOut"><H2> Bienvenido {{nombreUsuario}}</H2></div>
  <ng-template #loggedOut> <H2>

    No has iniciado sesion
  </H2>
</ng-template>
</div>
